<app-menu></app-menu>
<div *ngIf="haveToken" id="main" class="container-fluid bg-ranger h-75">
    <div class="row align-items-center justify-content-center h-75">
        <div  class="card col-md-4 opacity-75 h-75">
            <div class="card-header">
                <h5 class="text-center text-darkblue">
                    Boas Vindas
                </h5>
            </div>
            <div class="card-body">
                <h5 class="text-blue"> Built Ford Tough</h5>
                <p> Não encontro defeitos. Encontro soluções. Qualquer um sabe queixar-se.</p>
            </div>
        </div>
    </div>
</div>